NEXT_PUBLIC_SUPABASE_URL=https://rforcwsyehlvvyvvpyxf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmb3Jjd3N5ZWhsdnZ5dnZweXhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNDUwNjQsImV4cCI6MjA3NjcyMTA2NH0.Htpz940p6fxv8j7KYfsFseD1jKeuKpZ0DO2S35591ek
